<i class="close icon"></i>
<div class="header">
  <h1 class="ui header">
    Receive
    <div class="sub header">Receive address: <strong>2MtwAh6wgwBz4aC6SAaJnwG7ZJvG8M6pWd8</strong></div>
  </h1>
</div>
<div class="content">
  <div class="image app-receive-modal__image">
    <img src="http://lorempixel.com/200/200" class="image">
  </div>
</div>