<i class="close icon"></i>
<div class="header">
  Send money
</div>
<div class="content">
  <div class="ui form">
    <div class="field">
      <label for="amount">Amount</label>
      <div class="ui right labeled input">
        <input type="text" name="amount" placeholder="0.001">
        <div class="ui basic label">
          BTC
        </div>
      </div>
    </div>
    <div class="field">
      <label for="reciever">Receiver</label>
      <input type="text" name="receiver" placeholder="Enter wallet ID">
    </div>
  </div>
</div>
<div class="actions">
  <div class="two fluid ui buttons">
    <div class="ui red basic button">
      <i class="remove icon"></i> Cancel
    </div>
    <div class="ui green basic button">
      <i class="checkmark icon"></i> Send
    </div>
  </div>
</div>