<div class="ui masthead inverted vertical segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="active item">My Wallet</a>
      <a class="item"  onclick="{{action 'openModal' 'send-modal'}}">
        <i class="mail outline icon"></i>
        Send
        {{send-modal}}
      </a>
      <a class="item">
        <i class="money icon"></i>
        Receive
      </a>
      <div class="item right">
        <div class="item">Signed in as <span class="wallet-id">123456</span></div>
        {{#link-to 'login' class='ui inverted button'}}
          Sign out
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="ui masthead vertical segment">
  <div class="ui main text container">
    <h1 class="ui header">Operations</h1>
    <div class="ui segments">
      <h3 class="ui centered header">
        Today
      </h3>
      <div class="ui segment">
        <p><strong>$100</strong>Payment</p>
      </div>
      <div class="ui segment">
        <p><strong>$100</strong>Payment</p>
      </div>
      <div class="ui segment attached">
        <p><strong>$100</strong>Payment</p>
      </div>
      <h3 class="ui centered header attached">
        Yesterday
      </h3>
      <div class="ui segment attached">
        <p><strong>$100</strong>Payment</p>
      </div>
    </div>
  </div>
</div>


{{outlet}}